@{
    ViewBag.Title = "Home Page";
}

<div class="hero-image">
    <div class="hero-text">
        <h1>Magic The Gathering</h1>
        <p>Dungeons and Dragons</p>
        <a href="~/Magic"><button>See Our Magic Cards</button></a>
    </div>
</div>


<div class="row cards">

    <div class="col-lg-4 col-md-4 col-xs-4 thumb text-center">
        <a class="thumbnail" href="/Magic">
            <img class="img-responsive" src="~/Content/Images/magicCards.jpg" alt="a stack of magic cards">
        </a>
        <a class="btn card-buttons" href="/Magic" role="button">Shop Magic Cards</a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb text-center">
        <a class="thumbnail" href="/Yugioh">
            <img class="img-responsive" src="~/Content/Images/yugiohCardsSized.jpg" alt="a stack of yugioh cards">
        </a>
        <a class="btn card-buttons" href="/Yugioh" role="button">Shop YuGiOh Cards</a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb text-center">
        <a class="thumbnail" href="/Pokemon">
            <img class="img-responsive" src="~/Content/Images/pokemonCards.jpg" alt="a stack of pokemon cards">
        </a>
        <a class="btn card-buttons" href="/Pokemon" role="button">Shop Pokemon Cards</a>
    </div>
</div>