@{
    ViewBag.Title = "Home Page";
}

<div class="hero-image">
    <div class="hero-text">
        <h1>Magic The Gathering</h1>
        <p>Dungeons and Dragons</p>
        <a href="~/Magic"><button>See Our Magic Cards</button></a>
</div>
</div>