@model IEnumerable<Card_Store.Models.Magic>

@{
    ViewBag.Title = "Index";
}

<h2>Magic: The Gathering</h2>


    
<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 product text-center">
                <h3 class="title"><a href=#>@Html.DisplayFor(modelItem => item.Name)</a></h3>
                <div class="card-image"><img src="@Html.DisplayFor(modelItem => item.ImagePath)" /></div>
                <br />
                <div class="price">
                    $ @Html.DisplayFor(modelItem => item.MarketPrice)
                </div>
                <div class="rarety">
                    Rarety:
                    @Html.DisplayFor(modelItem => item.Rarety)
                </div>
                <a class="add-to-cart" href=""></a>
            </div>
        }
        </div>
</div>
    

