body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    border: none;
    border-top: 1px dotted black;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
}

.page-title{
    font-weight: bold;
}

.title a{
    text-decoration: none;
    color: black;
}

.title a:hover{
    color: grey;
}

.card-image img{
    width: 200px;
}

.price {
    font-weight: bold;
}

.product{
    max-width: 390px;
    max-height: 390px;
}

.footer-navbar a{
    color: black;
}

.navbar-fixed-top{
    background-color: black;
}

.navbar-fixed-top a {
    color: white;
    font-weight: 600;
    font-size: 17px;
 }

.navbar-fixed-top a:hover{
    color: grey;
}

.navbar-fixed-top li a:focus,
.navbar-fixed-top li a:hover {
    background-color: black;
}

.navbar-toggle .icon-bar{
    background-color: white;
}